In [1]:
# Librería para manejo de datos
import pandas as pd
import numpy as np
# Librerías para graficar
import plotly.express as px
# Gráficas estáticas
import matplotlib.pyplot as plt

In [2]:
# Leer archivos csv y almacenarlos en Dataframes
taxis_201712 = pd.read_csv(r"C:\Users\Usuario\Documents\Mateo Zapata\MINE Uniandes\Ciencia de Datos Aplicada\Proyecto CDA Grupo 10\Sprint 1\yellow_tripdata_2017-12.csv", sep=',')
taxis_201812 = pd.read_csv(r"C:\Users\Usuario\Documents\Mateo Zapata\MINE Uniandes\Ciencia de Datos Aplicada\Proyecto CDA Grupo 10\Sprint 1\yellow_tripdata_2018-12.csv", sep=',')
taxis_201912 = pd.read_csv(r"C:\Users\Usuario\Documents\Mateo Zapata\MINE Uniandes\Ciencia de Datos Aplicada\Proyecto CDA Grupo 10\Sprint 1\yellow_tripdata_2019-12.csv", sep=',')
taxis_202012 = pd.read_csv(r"C:\Users\Usuario\Documents\Mateo Zapata\MINE Uniandes\Ciencia de Datos Aplicada\Proyecto CDA Grupo 10\Sprint 1\yellow_tripdata_2020-12.csv", sep=',')
zonas = pd.read_csv(r"C:\Users\Usuario\Documents\Mateo Zapata\MINE Uniandes\Ciencia de Datos Aplicada\Proyecto CDA Grupo 10\Sprint 1\zone_lookup.csv", sep=',')

C:\Users\Usuario\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
#visualizar los primeros registros
taxis_201712.head(20)
taxis_201812.head(20)
taxis_201912.head(20)
taxis_202012.head(20)
zonas.head(20)

    LocationID        Borough                     Zone service_zone
0            1            EWR           Newark Airport          EWR
1            2         Queens              Jamaica Bay    Boro Zone
2            3          Bronx  Allerton/Pelham Gardens    Boro Zone
3            4      Manhattan            Alphabet City  Yellow Zone
4            5  Staten Island            Arden Heights    Boro Zone
5            6  Staten Island  Arrochar/Fort Wadsworth    Boro Zone
6            7         Queens                  Astoria    Boro Zone
7            8         Queens             Astoria Park    Boro Zone
8            9         Queens               Auburndale    Boro Zone
9           10         Queens             Baisley Park    Boro Zone
10          11       Brooklyn               Bath Beach    Boro Zone
11          12      Manhattan             Battery Park  Yellow Zone
12          13      Manhattan        Battery Park City  Yellow Zone
13          14       Brooklyn                Bay Ridge    Boro Zone
14          15         Queens  Bay Terrace/Fort Totten    Boro Zone
15          16         Queens                  Bayside    Boro Zone
16          17       Brooklyn                  Bedford    Boro Zone
17          18          Bronx             Bedford Park    Boro Zone
18          19         Queens                Bellerose    Boro Zone
19          20          Bronx                  Belmont    Boro Zone

In [4]:
# Revisar los tipos de data en el archivo
taxis_201712.dtypes
taxis_201812.dtypes
taxis_201912.dtypes
taxis_202012.dtypes

VendorID                 float64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count          float64
trip_distance            float64
RatecodeID               float64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type             float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [5]:
zonas.dtypes

LocationID       int64
Borough         object
Zone            object
service_zone    object
dtype: object

In [6]:
#Se crea columna de años a partir de la fecha
taxis_201712['year'] = taxis_201712['tpep_pickup_datetime'].str.slice(0, 4)
taxis_201812['year'] = taxis_201812['tpep_pickup_datetime'].str.slice(0, 4)
taxis_201912['year'] = taxis_201912['tpep_pickup_datetime'].str.slice(0, 4)
taxis_202012['year'] = taxis_202012['tpep_pickup_datetime'].str.slice(0, 4)

In [7]:
#Se filtra registros que no esten en el año indicado
taxis_201712=taxis_201712.loc[taxis_201712['year'] == '2017']
taxis_201812=taxis_201812.loc[taxis_201812['year'] == '2018']
taxis_201912=taxis_201912.loc[taxis_201912['year'] == '2019']
taxis_202012=taxis_202012.loc[taxis_202012['year'] == '2020']

In [8]:
#Unimos los dataframes en uno solo
years2017_2018=pd.concat([taxis_201712, taxis_201812], ignore_index=True)

In [9]:
#Unimos los dataframes en uno solo
years2019_2020=pd.concat([taxis_201912, taxis_202012], ignore_index=True)

In [10]:
#Unimos los dataframes en uno solo
allyears=pd.concat([years2017_2018, years2019_2020], ignore_index=True)

In [11]:
#Para eliminar memoria de la RAM
del taxis_201712
del taxis_201812
del taxis_201912
del taxis_202012
del years2017_2018
del years2019_2020

In [12]:
#Visualizar columnas DF
allyears.columns
#allyears

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'year', 'congestion_surcharge'],
      dtype='object')

In [13]:
allyears.max()

VendorID                                 4.0
tpep_pickup_datetime     2020-12-31 23:59:45
tpep_dropoff_datetime    2021-01-01 23:09:08
passenger_count                          9.0
trip_distance                      350914.89
RatecodeID                              99.0
PULocationID                             265
DOLocationID                             265
payment_type                             5.0
fare_amount                        398468.38
extra                                  90.06
mta_tax                               117.85
tip_amount                           1393.56
tolls_amount                          975.89
improvement_surcharge                 3000.0
total_amount                        398471.2
year                                    2020
congestion_surcharge                     3.0
dtype: object

In [14]:
allyears_Analisis=allyears[['tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance','PULocationID', 'DOLocationID','tip_amount', 'tolls_amount','total_amount', 'year']]

In [15]:
allyears_Analisis.dtypes

tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count          float64
trip_distance            float64
PULocationID               int64
DOLocationID               int64
tip_amount               float64
tolls_amount             float64
total_amount             float64
year                      object
dtype: object

In [16]:
allyears_Analisis

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,tip_amount,tolls_amount,total_amount,year
0,2017-12-01 00:12:00,2017-12-01 00:12:51,1.0,0.00,226,226,0.00,0.00,3.80,2017
1,2017-12-01 00:13:37,2017-12-01 00:13:47,1.0,0.00,226,226,0.00,0.00,3.80,2017
2,2017-12-01 00:14:15,2017-12-01 00:15:05,1.0,0.00,226,226,0.00,0.00,3.80,2017
3,2017-12-01 00:15:33,2017-12-01 00:15:37,1.0,0.00,226,226,0.00,0.00,3.80,2017
4,2017-12-01 00:50:03,2017-12-01 00:53:35,1.0,0.00,145,145,0.00,0.00,5.30,2017
...,...,...,...,...,...,...,...,...,...,...
26039247,2020-12-31 23:44:35,2021-01-01 00:01:22,NaN,9.22,143,20,8.16,0.00,43.95,2020
26039248,2020-12-31 23:41:36,2020-12-31 23:50:32,NaN,4.79,4,262,3.65,0.00,20.17,2020
26039249,2020-12-31 23:01:17,2020-12-31 23:40:37,NaN,28.00,210,78,2.75,6.12,78.98,2020
26039250,2020-12-31 23:31:29,2020-12-31 23:44:22,NaN,7.08,148,129,2.75,0.00,39.50,2020
26039251,2020-12-31 23:12:48,2020-12-31 23:24:51,NaN,2.35,18,235,2.75,0.00,20.64,2020

In [17]:
#El porcentaje de NaN en passenger_count es muy pequeño, asi que obviamos la omision.
allyears_Analisis.isna().sum()/len(allyears_Analisis)

tpep_pickup_datetime     0.000000
tpep_dropoff_datetime    0.000000
passenger_count          0.005779
trip_distance            0.000000
PULocationID             0.000000
DOLocationID             0.000000
tip_amount               0.000000
tolls_amount             0.000000
total_amount             0.000000
year                     0.000000
dtype: float64

In [18]:
#Se realiza join para encontrar Zona salida
allyears_Analisis_join_Salida=pd.merge(allyears_Analisis, zonas, how='left', left_on='PULocationID', right_on='LocationID')

In [19]:
allyears_Analisis_join_Salida

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,tip_amount,tolls_amount,total_amount,year,LocationID,Borough,Zone,service_zone
0,2017-12-01 00:12:00,2017-12-01 00:12:51,1.0,0.00,226,226,0.00,0.00,3.80,2017,226,Queens,Sunnyside,Boro Zone
1,2017-12-01 00:13:37,2017-12-01 00:13:47,1.0,0.00,226,226,0.00,0.00,3.80,2017,226,Queens,Sunnyside,Boro Zone
2,2017-12-01 00:14:15,2017-12-01 00:15:05,1.0,0.00,226,226,0.00,0.00,3.80,2017,226,Queens,Sunnyside,Boro Zone
3,2017-12-01 00:15:33,2017-12-01 00:15:37,1.0,0.00,226,226,0.00,0.00,3.80,2017,226,Queens,Sunnyside,Boro Zone
4,2017-12-01 00:50:03,2017-12-01 00:53:35,1.0,0.00,145,145,0.00,0.00,5.30,2017,145,Queens,Long Island City/Hunters Point,Boro Zone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26039247,2020-12-31 23:44:35,2021-01-01 00:01:22,NaN,9.22,143,20,8.16,0.00,43.95,2020,143,Manhattan,Lincoln Square West,Yellow Zone
26039248,2020-12-31 23:41:36,2020-12-31 23:50:32,NaN,4.79,4,262,3.65,0.00,20.17,2020,4,Manhattan,Alphabet City,Yellow Zone
26039249,2020-12-31 23:01:17,2020-12-31 23:40:37,NaN,28.00,210,78,2.75,6.12,78.98,2020,210,Brooklyn,Sheepshead Bay,Boro Zone
26039250,2020-12-31 23:31:29,2020-12-31 23:44:22,NaN,7.08,148,129,2.75,0.00,39.50,2020,148,Manhattan,Lower East Side,Yellow Zone
26039251,2020-12-31 23:12:48,2020-12-31 23:24:51,NaN,2.35,18,235,2.75,0.00,20.64,2020,18,Bronx,Bedford Park,Boro Zone

In [20]:
allyears_Analisis_join_Salida.isna().sum()/len(allyears_Analisis_join_Salida)

tpep_pickup_datetime     0.000000
tpep_dropoff_datetime    0.000000
passenger_count          0.005779
trip_distance            0.000000
PULocationID             0.000000
DOLocationID             0.000000
tip_amount               0.000000
tolls_amount             0.000000
total_amount             0.000000
year                     0.000000
LocationID               0.000000
Borough                  0.000000
Zone                     0.000917
service_zone             0.016021
dtype: float64

In [21]:
#Renombramos columnas para quitarlas a futuro, ya que las obtenemos del segundo join
allyears_Analisis_join_Salida=allyears_Analisis_join_Salida.rename(columns={"LocationID": "quitar", "Borough": "Borough_Salida", "Zone": "Zona_Salida", "service_zone": "service_zone_salida"})

In [22]:
allyears_Analisis_join_Salida

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,tip_amount,tolls_amount,total_amount,year,quitar,Borough_Salida,Zona_Salida,service_zone_salida
0,2017-12-01 00:12:00,2017-12-01 00:12:51,1.0,0.00,226,226,0.00,0.00,3.80,2017,226,Queens,Sunnyside,Boro Zone
1,2017-12-01 00:13:37,2017-12-01 00:13:47,1.0,0.00,226,226,0.00,0.00,3.80,2017,226,Queens,Sunnyside,Boro Zone
2,2017-12-01 00:14:15,2017-12-01 00:15:05,1.0,0.00,226,226,0.00,0.00,3.80,2017,226,Queens,Sunnyside,Boro Zone
3,2017-12-01 00:15:33,2017-12-01 00:15:37,1.0,0.00,226,226,0.00,0.00,3.80,2017,226,Queens,Sunnyside,Boro Zone
4,2017-12-01 00:50:03,2017-12-01 00:53:35,1.0,0.00,145,145,0.00,0.00,5.30,2017,145,Queens,Long Island City/Hunters Point,Boro Zone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26039247,2020-12-31 23:44:35,2021-01-01 00:01:22,NaN,9.22,143,20,8.16,0.00,43.95,2020,143,Manhattan,Lincoln Square West,Yellow Zone
26039248,2020-12-31 23:41:36,2020-12-31 23:50:32,NaN,4.79,4,262,3.65,0.00,20.17,2020,4,Manhattan,Alphabet City,Yellow Zone
26039249,2020-12-31 23:01:17,2020-12-31 23:40:37,NaN,28.00,210,78,2.75,6.12,78.98,2020,210,Brooklyn,Sheepshead Bay,Boro Zone
26039250,2020-12-31 23:31:29,2020-12-31 23:44:22,NaN,7.08,148,129,2.75,0.00,39.50,2020,148,Manhattan,Lower East Side,Yellow Zone
26039251,2020-12-31 23:12:48,2020-12-31 23:24:51,NaN,2.35,18,235,2.75,0.00,20.64,2020,18,Bronx,Bedford Park,Boro Zone

In [23]:
del allyears_Analisis

In [24]:
#Se realiza join para encontrar Zona llegada
allyears_Analisis_join=pd.merge(allyears_Analisis_join_Salida, zonas, how='left', left_on='DOLocationID', right_on='LocationID')

In [25]:
# Podemos comprobar las ausencias con esta línea de código. 
allyears_Analisis_join.isna().sum()/len(allyears_Analisis_join)

tpep_pickup_datetime     0.000000
tpep_dropoff_datetime    0.000000
passenger_count          0.005779
trip_distance            0.000000
PULocationID             0.000000
DOLocationID             0.000000
tip_amount               0.000000
tolls_amount             0.000000
total_amount             0.000000
year                     0.000000
quitar                   0.000000
Borough_Salida           0.000000
Zona_Salida              0.000917
service_zone_salida      0.016021
LocationID               0.000000
Borough                  0.000000
Zone                     0.002406
service_zone             0.016172
dtype: float64

In [26]:
allyears_Analisis_join

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,tip_amount,tolls_amount,total_amount,year,quitar,Borough_Salida,Zona_Salida,service_zone_salida,LocationID,Borough,Zone,service_zone
0,2017-12-01 00:12:00,2017-12-01 00:12:51,1.0,0.00,226,226,0.00,0.00,3.80,2017,226,Queens,Sunnyside,Boro Zone,226,Queens,Sunnyside,Boro Zone
1,2017-12-01 00:13:37,2017-12-01 00:13:47,1.0,0.00,226,226,0.00,0.00,3.80,2017,226,Queens,Sunnyside,Boro Zone,226,Queens,Sunnyside,Boro Zone
2,2017-12-01 00:14:15,2017-12-01 00:15:05,1.0,0.00,226,226,0.00,0.00,3.80,2017,226,Queens,Sunnyside,Boro Zone,226,Queens,Sunnyside,Boro Zone
3,2017-12-01 00:15:33,2017-12-01 00:15:37,1.0,0.00,226,226,0.00,0.00,3.80,2017,226,Queens,Sunnyside,Boro Zone,226,Queens,Sunnyside,Boro Zone
4,2017-12-01 00:50:03,2017-12-01 00:53:35,1.0,0.00,145,145,0.00,0.00,5.30,2017,145,Queens,Long Island City/Hunters Point,Boro Zone,145,Queens,Long Island City/Hunters Point,Boro Zone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26039247,2020-12-31 23:44:35,2021-01-01 00:01:22,NaN,9.22,143,20,8.16,0.00,43.95,2020,143,Manhattan,Lincoln Square West,Yellow Zone,20,Bronx,Belmont,Boro Zone
26039248,2020-12-31 23:41:36,2020-12-31 23:50:32,NaN,4.79,4,262,3.65,0.00,20.17,2020,4,Manhattan,Alphabet City,Yellow Zone,262,Manhattan,Yorkville East,Yellow Zone
26039249,2020-12-31 23:01:17,2020-12-31 23:40:37,NaN,28.00,210,78,2.75,6.12,78.98,2020,210,Brooklyn,Sheepshead Bay,Boro Zone,78,Bronx,East Tremont,Boro Zone
26039250,2020-12-31 23:31:29,2020-12-31 23:44:22,NaN,7.08,148,129,2.75,0.00,39.50,2020,148,Manhattan,Lower East Side,Yellow Zone,129,Queens,Jackson Heights,Boro Zone
26039251,2020-12-31 23:12:48,2020-12-31 23:24:51,NaN,2.35,18,235,2.75,0.00,20.64,2020,18,Bronx,Bedford Park,Boro Zone,235,Bronx,University Heights/Morris Heights,Boro Zone

In [27]:
#Renombramos columnas para quitarlas a futuro, ya que las obtenemos del segundo join
allyears_Analisis_join=allyears_Analisis_join.rename(columns={"Borough": "Borough_Llegada", "Zone": "Zona_Llegada", "service_zone": "service_zone_llegada"})

In [28]:
allyears_Analisis_join.max()

tpep_pickup_datetime     2020-12-31 23:59:45
tpep_dropoff_datetime    2021-01-01 23:09:08
passenger_count                          9.0
trip_distance                      350914.89
PULocationID                             265
DOLocationID                             265
tip_amount                           1393.56
tolls_amount                          975.89
total_amount                        398471.2
year                                    2020
quitar                                   265
Borough_Salida                       Unknown
LocationID                               265
Borough_Llegada                      Unknown
dtype: object

In [29]:
del allyears_Analisis_join_Salida